.login {
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(94, 213, 168, 0) 20.83%,
    rgba(94, 213, 168, 0.15) 100%
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    position: absolute;
    top: 15%;
    left: 14%;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__switch {
    width: 24rem;
    height: 3.5rem;
    border-radius: 0.75rem;
    background: #161c22;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4px;

    &__item {
      width: 22rem;
      height: 100%;
      border-radius: 0.75rem;
      color: #777777;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s;

      &--active {
        background: #1b232a;
        color: #c1c7cd;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &__form {
    // padding: 3rem;
    // height: 35rem;
    width: 35rem;
    // background: rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__title {
      font-size: 3.2rem;
      font-weight: bold;
      color: #fff;

      &__dot {
        color: #5ed5a8;
        font-size: 3.5rem;
        padding-left: 2px;
      }
    }

    &__subtitle {
      color: #b7b7b7;
      font-size: 1.25rem;
      font-weight: bold;

      &__login {
        color: #5ed5a8;
        padding-left: 5px;
        cursor: pointer;

        &:hover {
          color: rgb(71, 240, 175);
        }
      }

      &--mob {
        display: none;
      }
    }
  }

  &__get {
    background: #161c22;
    color: #fff;
    border: solid 1px #447a66;
    width: 10rem;
    height: 3.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: background 0.3s;
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: filter 0.3s;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      fill: #c4c4c4;
    }
  }

  &__error {
    color: #fc626e;
    text-align: center;
    font-weight: bold;
    transition: opacity 0.3s;
    opacity: 0;

    &--show {
      opacity: 1;
    }
  }
}
