.list {
  display: flex;
  flex-direction: column;
  gap: 0.48rem;

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // padding-right: 2rem;
    gap: 0.55rem;
    overflow-y: auto;
  }

  &__row {
    background: #1d1d1d;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.18rem;
    transition: background 0.2s;

    cursor: pointer;

    &--active {
      background: #3b3333 !important;

      &:hover {
        background: rgb(82, 65, 65) !important;
      }
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.32rem;
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(104 104 104);
  }
}

::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #1e212e;

  scroll-padding-left: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  padding: 0.1rem;
  margin: 0.1rem;
  background: #c1c1c1;
  background-position: center;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: url("../img/menu.png") var(--slider-hover-color);
  background-size: 6px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

// ::-webkit-scrollbar-button {
// height: 50px; //for vertical scrollbar
// }
