.dashboard {
  height: 100%;
  width: 100%;

  display: flex;
  background: #f5f4f7;
}

@media screen and (max-height: 600px), screen and (max-width: 414px) {
  .dashboard {
    flex-direction: column;
  }
}
