.infoModal {
  width: 43vw;
  height: 42vh;
  min-width: 65rem;
  min-height: 28rem;
  display: flex;
  gap: 2rem;

  &__image {
    background: #161c22;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    width: 45%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: rgb(199, 199, 199);
  }

  &__info {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1;
    padding-right: 0.5rem;

    &__title {
      font-size: 3rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &__category {
        font-size: 1.1rem;
        color: #7c7c7c;
        border: solid 1px #7c7c7c;
        padding: 0.4rem;
        border-radius: 0.5rem;
      }
    }

    &__subtitle {
      font-size: 1.5rem;
      color: rgb(224, 224, 224);
      border-bottom: solid 1px #7c7c7c;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &__item {
      font-size: 1.2rem;
      display: flex;
      gap: 2.5rem;

      &__title {
        width: 7rem;
      }
    }

    &__group {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      // margin-right: auto;
    }

    &__btn {
      margin-top: auto;
      width: 100% !important;
      min-height: 2.5rem;
    }

    &__route {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__group {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
      }

      &__arrow {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 50%;
        transform: translateX(50%);
        fill: #bdbdbd;
      }

      &__shape {
        height: 0.3rem;
        width: 30%;
        background: gray;
        position: relative;

        &::after {
          content: ' ';
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: gray;
          position: absolute;
          left: -1rem;
          top: -0.4rem;
        }

        &::before {
          content: ' ';
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background: gray;
          position: absolute;
          right: -1rem;
          top: -0.4rem;
        }

        &__icon {
          height: 1.75rem;
          width: 1.75rem;
          position: absolute;
          right: -1.2rem;
          top: -2.5rem;
          visibility: hidden;
        }

        &__indicator {
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          position: absolute;
          z-index: 2;
          top: -0.4rem;
        }

        &--processing {
          .infoModal__info__route__shape__indicator {
            background: #dfc32f;
            left: -16%;
            transform: translateX(50%);
          }
          .infoModal__info__route__shape__icon {
            fill: #dfc32f;
            left: -21.5%;
            transform: translateX(50%);
            visibility: visible;
          }
        }

        &--shipping {
          .infoModal__info__route__shape__indicator {
            background: #1cbee1;
            right: 50%;
            transform: translateX(50%);
          }
          .infoModal__info__route__shape__icon {
            fill: #1cbee1;
            right: 50%;
            transform: translateX(50%);
            visibility: visible;
          }
        }

        &--delivered {
          .infoModal__info__route__shape__indicator {
            background: #77da7b;
            right: -1rem;
          }
          .infoModal__info__route__shape__icon {
            fill: #77da7b;
            right: 50%;
            right: -1.2rem;
            visibility: visible;
          }
        }

        &--canceled {
          background: #fc626e;
          &::after {
            background: #fc626e;
          }
          &::before {
            background: #fc626e;
          }

          .infoModal__info__route__shape__indicator {
            visibility: hidden;
          }
        }
      }

      &__icon {
        width: 4rem;
        height: 4rem;
        fill: #5dd5a8;
      }
    }
  }
}
