html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  position: relative;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  user-select: none;
}

::selection {
  background-color: #524949;
}

body {
  font-family: 'Poppins';
  background: #1b232a;
}

@font-face {
  font-family: 'Russo One';
  src: URL('./fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: URL('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: URL('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: URL('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

.disable {
  pointer-events: none;
  background: lightgray !important;
}
